.white{
    color: inherit;
    color: #ECF0F1 !important;
}

div.relative h2 a {
    color: inherit;
    text-decoration: none;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.article-height{
    height: 150px;
}

background-cover {
    background-position: center;
    background-size: cover;
}

.text-center{
    text-align: center;
}

.light-border{
    
}

.bottom-space{
    margin-bottom: 2em;
}

.blue{
    color: #66CCFF;
}

.red{
    color: crimson;
}

.grey{
    color: darkgray;
}

.top-space{
    margin-top: 3em;
}

.hidde_button_margin{
    margin-bottom: 0px;
}

